@model InternshipProject.ViewModels.Received.ReceivedListViewModel

@{
    ViewData["Title"] = "ReceivedTransactions";
}

<div class="d-flex justify-content-end">

    <div class="customer-details-label">
        Name:
    </div>
    <div class="customer-details-value">
        @Model.CustomerName
    </div>
</div>

<div class="d-flex justify-content-end">

    <div class="customer-details-label">
        Contact:
    </div>
    <div class="customer-details-value">
        @Model.PhoneNo
    </div>
</div>

<h1>Received Transactions</h1>


@{
    int i = 0;
}

<div class="table-responsive">
    <table class="table table-striped" style="width: 300px;">
        <thead>
            <tr>
                <th style="color: white; background-color: #008A00;">
                    Select account
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><label>@Html.RadioButtonFor(i => i.IsSelected, 0)IBAN1</label></td>
                <td><label>@Html.RadioButtonFor(i => i.IsSelected, 1)IBAN2</label></td>
            </tr>
            @*
                    @foreach (var account in Model.BankAccounts)
                    {
                        <tr>
                            <td>
                                <div>
                                    <input type="radio" id="@account.Transactions.GetEnumerator()" name="account" value="@account.Transactions.GetEnumerator()">
                                    <label for="@account.Transactions.GetEnumerator()">@account.IBAN</label><br>

                  </div>

          </td>

        </tr>
                    }*@
        </tbody>
    </table>
</div>

<form class="searchButtonPayments " action="" style="margin: auto; width: 300px; margin-right: 0px;  color: #008A00 !important">
    <input id="myInput" type="text" placeholder="Search" name="search">

</form>



<table class="table table-striped" id="exportTable">
    <thead>
        <tr style="background-color:#008A00 ;color: white">
            <th scope="col">#</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">External Name</th>
            <th scope="col">External Account</th>
            <th scope="col">Details</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var account in Model.BankAccounts)
            
        @foreach (var transaction in Model.Transactions)
        {
            <tr>
                <th scope="row">@i@{i++;}</th>
                <td>@transaction.Amount</td>
                <td>@transaction.Time</td>
                <td>@transaction.Status</td>
                <td>@transaction.ExternalName</td>
                <td>@transaction.ExternalIBAN</td>
                <td class="button" href="">Details</td>
            </tr>
        }
    </tbody>
</table>
<button id="exportButton" class="btn btn-lg btn-success clearfix"><span class="fa fa-file-excel-o"></span> Export to Excel</button>
