@model InternshipProject.ViewModels.Statistics.StatisticsViewModel;

@{
    ViewData["Title"] = "Statistics";
}

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    @*DOWNLOAD AND PUT IN WWWROOT BELOW LIB*@
}

<div class="d-flex justify-content-end">

    <div class="customer-details-label">
        Name
    </div>
    <div class="customer-details-value">
        @Model.CustomerName
    </div>
</div>
<div class="d-flex justify-content-end">

    <div class="customer-details-label">
        Contact
    </div>
    <div class="customer-details-value">
        @Model.PhoneNo
    </div>
</div>

<hr style="height:2px;border:none;background-color:#D4D4D4;" />

<div align="center">
    <button class="statistics-button">All-time</button>
    <button class="statistics-button">Year</button>
    <button class="statistics-button">Month</button>
    <button class="statistics-button">Week</button>
    <button class="statistics-button">Day</button>
</div>
<br />
<br />

<div>
    @*
        <table style="width:70%; font:large" align="right" border="1">
            <tr style="text-align: center; background-color: #60A917; color: white; border-right:none;">
                <th>Account IBAN</th>
                <th>Current Balance</th>
                <th>Credit</th>
                <th>Debit</th>
                <th>Last Transaction</th>
            </tr>
            @foreach (var account in Model.BankAccounts)
            {
                <tr style="text-align:center; border-right:none;">
                    <td>@account.IBAN</td>
                    <td>@account.Balance</td>
                    <td>+@account.Balance</td>
                    <td>-@account.Balance</td>
                    <td>21/04/2020</td>
                </tr>
            }
        </table>
    *@
</div>

<div style="width:70%; height:70%;margin:auto;">
    <canvas id="lineChart"></canvas>
    <canvas id="pieChart"></canvas>
    <script>
            window.onload = function () {
                var ctx = document.getElementById('lineChart').getContext('2d');
                var lineChart = new Chart(ctx, {

                    type: 'line',
                    data: {
                        labels: [],
                        datasets: [{
                            data: [],
                            backgroundColor: [],
                            borderColor: [],
                            borderWidth: 1
                        }]
                    },

                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },

                        title: {
                            display: true,
                            text: 'Balance over time'
                        }
                    }
                });

                var ctx = document.getElementById('pieChart').getContext('2d');
                var pieChart = new Chart(ctx, {

                    type: 'pie' ,

                    data: {
                        labels: [],
                        datasets: [{
                            data: [],
                            backgroundColor: [],
                            borderColor: [],
                            borderWidth: 1
                        }]
                    },

                     options: {
                        title: {
                            display: true,
                            text: 'Balance of your accounts'
                        }
                    }
                });

                @*
                function addLineData(chart, label, data, color) {
                    chart.data.datasets.push({
                        label: label,
                        backgroundColor: color,
                        data: data
                    });
                    chart.update();
                }
                *@

               @* JSON.parse('@Html.Raw(Json.Encode(@Model.DuplicateIds))') *@

                function addPieData(chart, label, data, color) {
                    chart.data.labels.push(label);
                    chart.data.datasets.forEach((dataset) => {
                        dataset.data.push(data);
                        dataset.backgroundColor.push(color);
                    });
                    chart.update();
                }

                @foreach (var account in Model.BankAccounts)
                {
                    @Html.Raw($"addPieData(pieChart, '{account.MetaData.Name}', {account.BankAccount.Balance}, '#'+'{account.MetaData.Color.ToString("X6")}');");
                    @Html.Raw($"addPieData(lineChart, '{account.MetaData.Name}', {account.BankAccount.Balance}, '#'+'{account.MetaData.Color.ToString("X6")}');");
                }
            };
    </script>
</div>